<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="bower_components/angular-resizable/angular-resizable.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css" rel="stylesheet" />
    <!-- custom app styles  -->
    <link rel="stylesheet" href="app.css">
</head>


<body ng-app="myApp">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div style="">
                <div class="navbar-header project-title">
                    <button type="button" class="btn btn-default btn project-logo" >
                        <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span>
                    </button>
                    <span class="navbar-link">Rubiks</span>
                </div>
                <div class="">
                    <div id="navbar" class="navbar-menu main-menu">
                        <ul class="nav navbar-nav" >
                            <li class="active"><a href="#">File <span class="sr-only">(current)</span></a></li>
                            <li><a href="javascript:void(0);">Edit</a></li>
                            <li><a href="#">Questions</a></li>
                            <li><a href="#">Processors</a></li>
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Tools</a></li>
                            <li><a href="#">Reports</a></li>
                            <li><a href="#">Windows</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right navbar-link user-info">
                    <div class="dropdown">
                        <span class="dropdown-toggle">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Tatyana Kavalenka (Real Estate)
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                            <li>User: Tatyana Kavalenka</li>
                            <li role="separator" class="divider"></li>
                            <li>Workspace: Real Estate</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="content">
            <div class="row" ng-controller="leftSideBarCtrl">
                <section id="one" class="left-side-bar" resizable r-directions="directions" r-flex="true" ng-class="{ 'collapsed': collapsed }" >
                    <ul class="nav nav-tabs tabs-left sideways">
                        <li ng-class="{'active' : selectedTab == tabs.TokenSearch }">
                            <a style="white-space: nowrap;" href="javascript:void(0);" data-toggle="tab" ng-click="switchToTokenSearch()">Token Search</a>
                        </li>
                        <li ng-class="{'active' : selectedTab == tabs.FlowChart }">
                            <a href="javascript:void(0);" data-toggle="tab" ng-click="switchToFlowChart()">FlowChart</a>
                        </li>
                    </ul>
                    <div class="panel panel-default" ng-hide="collapsed || selectedTab != tabs.TokenSearch">
                        <div class="panel-heading">
                            Token Search
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="collapse()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="exampleInputSearch" placeholder="Search">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="panel panel-default flow-chart-panel" ng-hide="collapsed || selectedTab != tabs.FlowChart">
                        <div class="panel-heading">
                            Flow Chart
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="panel-body">
                            Coming soon ...
                        </div>
                    </div>
                </section>
                <section class="doc-panel" >
                    <table class="doc-panel-skeleton">
                        <tr>
                            <td class="hz-ruler" colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="vt-ruler" style="">
                                <div class="vt-ruler"></div>
                            </td>
                            <td style="position: relative">
                                <div class="document-container">
                                    <img src="components/img/Loan_Application_-_AVANA_Capital-rev1_Page_01.png"/>
                                </div>
                                <draw-layer ></draw-layer>
                                <!--<svg class="box" style="position: absolute; top: 0; width: 100%; height: 100%; background-color: transparent;">
                                    <circle class="draggableCircle" cx="225" cy="117" r="25" style="fill: black;"></circle>
                                </svg>-->
                            </td>
                        </tr>
                    </table>
                    <!--<svg class="box" style="position: absolute; top: 0;">
                        <circle class="draggableCircle" cx="225" cy="117" r="25" style="fill: black;"></circle>
                    </svg>-->
                </section>
                <section class="right-side-bar" resizable r-directions="['left']" r-flex="true" >

                    <section class="toolbox-section" resizable r-directions="['bottom']" r-flex="true">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tools
                            </div>
                            <div class="panel-body toolbox-panel">
                                <ul class="toolbox-panel-group">
                                    <li class="toolbox-item">
                                        <span class="glyphicon glyphicon-unchecked" aria-hidden="true" title="Text field"></span>
                                    </li>
                                    <li class="toolbox-item">
                                        <span class="glyphicon glyphicon-check" aria-hidden="true" title="multiple choise"></span>
                                    </li>
                                </ul>
                                <div class="delimeter"></div>
                                <ul class="toolbox-panel-group">
                                    <li class="toolbox-item">
                                        <span class="glyphicon glyphicon-indent-right" aria-hidden="true" title="Align right"></span>
                                    </li>
                                    <li class="toolbox-item">
                                        <span class="glyphicon glyphicon-indent-left" aria-hidden="true" title="Align left"></span>
                                    </li>
                                    <li class="toolbox-item">
                                        <span class="glyphicon glyphicon-text-width" aria-hidden="true" title="Align width"></span>
                                    </li>
                                    <li class="toolbox-item">
                                        <span class="glyphicon glyphicon-text-height" aria-hidden="true" title="Align height"></span>
                                    </li>
                                </ul>
                                <div class="delimeter"></div>
                            </div>
                        </div>
                    </section>
                    <section class="properties-section">
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                Control Properties
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>
                                                Property
                                            </th>
                                            <th>
                                                Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Token</td>
                                            <td>AL234</td>
                                        </tr>
                                    <tr>
                                        <td>Layer</td>
                                        <td>Layer 1</td>
                                    </tr>
                                        <tr>
                                            <td>Font</td>
                                            <td>Times New Roman</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </main>

    <!-- bower components -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-resizable/angular-resizable.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>


    <!-- custom styles -->
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>
</html>

