<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="bower_components/angular-resizable/angular-resizable.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css" rel="stylesheet" />
    <!-- custom app styles  -->
    <link rel="stylesheet" href="app.css">
</head>


<body ng-app="myApp">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div style="">
                <div class="navbar-header" style="line-height: 50px; font-family: fantasy; line-height: 50px;">
                    <button type="button" class="btn btn-default btn" style="border-radius: 0px;">
                        <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span>
                    </button>
                    <span class="navbar-link" style="font-size: 20px; margin-left: 5px;">Rubick</span>
                </div>
                <div class="">
                    <div id="navbar" class="navbar-menu">
                        <ul class="nav navbar-nav" style="margin-left:30px;">
                            <li class="active"><a href="#">File <span class="sr-only">(current)</span></a></li>
                            <li><a href="javascript:void(0);">Edit</a></li>
                            <li><a href="#">Questions</a></li>
                            <li><a href="#">Processors</a></li>
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Tools</a></li>
                            <li><a href="#">Reports</a></li>
                            <li><a href="#">Windows</a></li>
                            <li><a href="#">Help</a></li>
                            <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">File</a></li>
                            <li><a href="#">Edit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>-->
                        </ul>

                    </div>
                </div>
                <div class="pull-right navbar-link" style="line-height: 50px;">
                    <div class="dropdown">
                        <span class="dropdown-toggle">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Tatyana Kavalenka (Real Estate)
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                            <li>User: Tatyana Kavalenka</li>
                            <li role="separator" class="divider"></li>
                            <li>Workspace: Real Estate</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <!--<nav resizable r-directions="['right']">
            <span class="icon-big icon_expand-1"></span>
            <br/><br/>
            <h1>
                Angular
                Resizable
            </h1>
            <p>
                A teensy weensy directive for creating resizable containers.
            </p>
        </nav>-->





        <div class="content">
            <div class="row" ng-controller="leftSideBarCtrl">
                <section id="one" class="left-side-bar" resizable r-directions="directions" r-flex="true" ng-class="{ 'collapsed': collapsed }" style="">
                    <ul class="nav nav-tabs tabs-left sideways">
                        <li ng-class="{'active' : selectedTab == tabs.TokenSearch }">
                            <a style="white-space: nowrap;" href="javascript:void(0);" data-toggle="tab" ng-click="switchToTokenSearch()">Token Search</a>
                        </li>
                        <li ng-class="{'active' : selectedTab == tabs.FlowChart }">
                            <a href="javascript:void(0);" data-toggle="tab" ng-click="switchToFlowChart()">FlowChart</a>
                        </li>
                    </ul>
                    <div class="panel panel-default" ng-hide="collapsed || selectedTab != tabs.TokenSearch">
                        <div class="panel-heading">
                            Token Search
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="collapse()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="exampleInputSearch" placeholder="Search">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                    <tr>
                                        <td>P0234</td>
                                        <td>Client Name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="panel panel-default" style=" margin: 2px; width: auto; margin-left: 44px;" ng-hide="collapsed || selectedTab != tabs.FlowChart">
                        <div class="panel-heading">
                            Flow Chart
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="panel-body">
                            Coming soon ...
                        </div>
                    </div>
                </section>
                <section id="two">
                    <p>2</p>
                </section>
                <section id="three" class="right-side-bar" resizable r-directions="['left']" r-flex="true" style="display: flex;flex-direction: column;">
                    
                <section resizable r-directions="['bottom']" r-flex="true">
                    <p>
                        Completely seperates <strong>layout logic</strong> from <strong>resize logic</strong>. All layout logic must be done by you in the CSS (as it should be).
                    </p>
                </section>
                <section id="four">4</section>
            
                </section>
            </div>
            <!--<div class="row">
                <section id="three" resizable r-directions="['right']" r-flex="true">
                    <p>
                        Completely seperates <strong>layout logic</strong> from <strong>resize logic</strong>. All layout logic must be done by you in the CSS (as it should be).
                    </p>
                </section>
                <section id="four">4</section>
            </div>-->
        </div>
    </main>
    <footer>
        <span>
            Made with <span class="icon icon_coffee"></span>by
            <a href="http://codepen.io/Reklino/" target="_blank">
                <span class="icon icon_jacob"></span>
            </a>
        </span>
        <span style="float: right">
            <a href="https://github.com/Reklino/angular-resizable" target="_blank">
                Fork it on GitHub <span class="icon icon_code"></span>
            </a>
        </span>
    </footer>

    <!-- bower components -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-resizable/angular-resizable.min.js"></script>

    <!-- custom styles -->
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>
</html>

